name: Release

on:
  push:
    tags:
      - 'v*' 

jobs:
  build:
    name: Build for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: playkid-linux-x64
            asset_name: playkid-linux-x64.tar.gz
            bin: playkid
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: playkid-win-x64
            asset_name: playkid-win-x64.zip
            bin: playkid.exe
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: playkid-macos-arm64
            asset_name: playkid-macos-arm64.tar.gz
            bin: playkid

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libxkbcommon-dev \
            libwayland-dev \
            libx11-dev \
            libasound2-dev \
            libudev-dev \
            pkg-config

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Strip Binaries
        if: matrix.os != 'windows-latest'
        run: strip target/${{ matrix.target }}/release/${{ matrix.bin }}

      - name: Get version
        id: version
        run: |
          echo "VERSION=$(cargo metadata --no-deps --format-version=1 \
            | jq -r '.packages[0].version')" >> $GITHUB_ENV

      - name: Package Binaries
        run: |
          cd target/${{ matrix.target }}/release
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then 
            7z a ../../../${{ matrix.asset_name%.* }}-${{ env.VERSION }}.zip ${{ matrix.bin }}; 
          else 
            tar -czf ../../../${{ matrix.asset_name%.* }}-${{ env.VERSION }}.tar.gz ${{ matrix.bin }}; 
          fi

      - name: Upload temporary artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}-${{ env.VERSION }}
          path: ${{ matrix.asset_name%.* }}-${{ env.VERSION }}.*
          retention-days: 1
          
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: release-files
          merge-multiple: true
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: release-files/*
          generate_release_notes: true 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
